<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jsu.lmh.project1.mapper.UserMapper">
    <insert id="insertuser">
        insert into user(username,password) values (#{username},#{password});
    </insert>
    <select id="findByusername_user" resultType="jsu.lmh.project1.entity.User">
        select * from user where username=#{username}
    </select>
    <select id="selroleIdByuserId" resultType="java.lang.Integer">
        select role_id from user_role where user_id=#{id}
    </select>
    <select id="selrolenameByroleId" resultType="java.lang.String">
        select rolename from role where id=#{id}
    </select>
    <select id="selpremIdByroleId" resultType="java.lang.Integer">
        select perm_id from role_perm where role_id=#{id}
    </select>
    <select id="selpremnameBypremId" resultType="java.lang.String">
        select permname from perm where id=#{id}
    </select>
    <select id="getalluser" resultType="jsu.lmh.project1.entity.User_Role">
        select user_id,role_id,username,rolename from user_role,role,user
        <where>
            user_role.user_id=user.id and user_role.role_id=role.id
             <if test="rolename!=null and rolename!=''">
                and rolename=#{rolename}
             </if>
            <if test="username!=null and username!=''">
                and username=#{username}
            </if>
        </where>
    </select>
<!--    <resultMap id="alluser" type="jsu.lmh.project1.entity.User_Role">-->
<!--        <result property="user_id" column="user_id"></result>-->
<!--        <result property="role_id" column="user_id"></result>-->
<!--        <result property="username" column="username"></result>-->
<!--        <result property="rolename" column="rolename"></result>-->
<!--    </resultMap>-->

</mapper>
